<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Angular Handler Directive wrapping mock handler, V0.3.x</title>
        <script src="mock_handler.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.18/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="dist/angular-forte-handler.js"></script>
        <script type="text/javascript">

            (function(angular) {
                'use strict';
                angular.module('app', ['angularForteHandler'])
                    .controller('Controller', ['$scope', '$timeout', function($scope, $timeout) {
                        $scope.control = {};
                    }]);
            })(window.angular);

            // //////////////   MOCK additions begin:  control command button click handlers //////
            $(document).ready(function () {
                $('#connect').on('click', function () {
                    forteDeviceHandler.triggerConnected(true);
                });

                $('#disconnect').on('click', function () {
                    forteDeviceHandler.triggerConnected(false);
                });

                $('#succeed').on('click', function () {
                    forteDeviceHandler.setBehavior('succeed');
                });

                $('#decline').on('click', function () {
                    forteDeviceHandler.setBehavior('decline');
                });

                $('#error').on('click', function () {
                    forteDeviceHandler.setBehavior('error');
                });

                $('#timeout').on('click', function () {
                    forteDeviceHandler.setBehavior('timeout');
                });
            });

            // //////////////   MOCK additions end ///////////////////////////////////////////////////
        </script>

    </head>
    <body ng-app="app">
        <div>
            <!-- MOCK control command buttons begin -->
                    <!-- sets whether the mock 'device' is connected or not -->
            <input type="button" id="connect" value="connect"> <br>
            <input type="button" id="disconnect" value="disconnect"> <br>
            <br>
                    <!-- sets how the mock will respond when handing requests -->
            <input type="button" id="succeed" value="succeed"> <br>
            <input type="button" id="decline" value="decline"> <br>
            <input type="button" id="error" value="error"><br>
            <input type="button" id="timeout" value="timeout"><br>
            <br>
            <!-- MOCK control command buttons end -->
        </div>
        <div ng-controller="Controller">
            Merchant ID: <input ng-model='merchantId' /><br />
            Amount: $<input ng-model="amount" type="text" /><br />
            tax: $<input ng-model='tax' type="text" /><br />
            Result:
            <ul>
                <li>amount={{result.pg_total_amount}}</li>
                <li>response type ={{result.pg_response_type}}</li>
                <li>response code={{result.pg_response_code}}</li>
                <li>response description='{{result.pg_response_description}}'</li>
                <li>authorization code='{{result.pg_authorization_code}}'</li>
                <li>trace number='{{result.pg_trace_number}}'</li>
            </ul>
            <angular-forte-handler 
                is-connected="isConnected"
                is-processing="isProcessing"
                pg-merchant-id="merchantId"
                pg-total-amount="amount"
                pg-sales-tax-amount="tax"
                pg_original-authorization-code="result.pg_authorization_code"
                pg_original-trace-number="result.pg_trace_number"
                result="result"
                control="control" />
            <br><br>
            <button ng-click="control.triggerTransaction('SALE');"
                ng-disabled="!isConnected || isProcessing ||!amount || amount < 0.0">Charge/EBT
            </button>
            <br>
            <button ng-click="control.triggerTransaction('CREDIT');"
                ng-disabled="!isConnected || isProcessing || !amount || amount > 0.0">Refund
            </button>
            <br>
            <button ng-click="control.triggerTransaction('VOID_CREDITCARD');"
                ng-disabled="!isConnected || isProcessing || !result.pg_trace_number || !result.pg_authorization_code">Void Charge
            </button>
            <br>
            <button ng-click="control.triggerTransaction('VOID_EBT');"
                ng-disabled="!isConnected || isProcessing || !result.pg_trace_number || !result.pg_authorization_code">Void EBT
            </button>
            <br><br>
		<button ng-disabled="isProcessing">OK</button>
        </div>
    </body>
</html>
